.btn-primary {
    width: 100%;
    background: #584e50;
    color: var(--light-text-color);
    font-weight: var(--fw-bold);
    font-size: var(--fs-sm);
    padding-block: 0.825rem;
    padding-inline: 1.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: solid transparent 0.15rem;
}

.btn-primary:hover {
    background: transparent;
    color: #584e50;
    border-color: #584e50;
}

.btn-secondary {
    width: 100%;
    background: transparent;
    color: #737373;
    font-weight: var(--fw-bold);
    font-size: var(--fs-sm);
    padding-block: 0.825rem;
    padding-inline: 1.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: solid #737373 0.15rem;
}

.btn-secondary:hover {
    background: #737373;
    color: var(--light-text-color);
    border-color: transparent;
}