#cards {
    text-align: center;
    padding: 70px;
    padding-top: 0;
}

#cards h2 {
    margin-bottom: 2rem;
    color: var(--text-color);
}

.card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
}

.card {
    background-color: var(--light-gray);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: 400px;
    text-align: left;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    color: var(--text-color);
    font-size: var(--fs-lg);
    margin-bottom: 1rem;
}

.card p {
    color: var(--second-text-color);
    font-size: var(--fs-sm);
    height: 100%;
    overflow-y: auto;
}

.card-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

@media (min-width: 768px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        max-width: 300px;
        height: 400px;
    }
}

@media (min-width: 1280px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        max-width: 600px;
        height: 400px;
    }
}
