.reverse-color {
    color: var(--primary-color);
}

.reverse-color:hover {
    color: var(--second-text-color);
}

.ml-lg {
    margin-right: 2.875rem;
}

.mobile-menu {
    display: none;
    z-index: 3;
}

.mobile-menu-content {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    padding-top: 2.25rem;
    width: 100vw;
    height: 100vh;
    background: var(--background-color);
    position: fixed;
}

.mobile-menu-content ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.mobile-menu-content a {
    font-size: var(--fs-lg);
}

.headerFix {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    z-index: 10;
    position: fixed;
    width: 100vw;
    background-color: white;
    border-bottom: 1px #f6f6f6 solid;
}


@media (width <=1280px) {
    header {
        position: relative;
        justify-content: end !important;
        align-items: center !important;
    }

    nav>img {
        display: initial;
    }

    .mobile-menu {
        display: initial;
        margin-right: 60px;
    }

    .mobile-menu-content {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        padding-top: 2.25rem;
        width: 100vw;
        height: 100vh;
        background: var(--background-color);
        position: fixed;
    }
}