#hero {
    background: var(--light-gray);
    border-top: 0.125rem solid #e4e4e4;
    height: 90vh;
    display: flex;
    position: relative;
    overflow: hidden;
    text-shadow: 1px 1px 3px #FFF;
    padding-top: 90px;
}

#hero>.borderImg {
    position: absolute;
    right: 0;
    height: 60%;
    padding-left: 30%;
}

#hero>.heroImg {
    position: absolute;
    right: 0;
    height: 60%;
    border-radius: 50px;
    opacity: 0.8;
}

#hero p {
    color: var(--second-text-color);
}

#hero .content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    max-width: 50%;
}

#hero .content h1 {
    margin-bottom: 1rem;
}

#hero .content p {
    width: 80%;
    margin: 0 auto;
}

#hero .content>div {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
}

#hero .content img {
    display: none;
}

@media (min-width: 1280px) {
    #hero {
        background: var(--bg-color);
        border-top: none;
    }

    #hero>.borderImg {
        position: absolute;
        right: 0;
        height: 60%;
        padding-left: 30%;
    }

    #hero>.heroImg {
        position: absolute;
        right: 0;
        height: 60%;
        border-radius: 50px;
    }
}