#cards {
    margin-top: 3rem;
    text-align: center;
}

#cards h2 {
    margin-bottom: 2rem;
    color: var(--text-color); /* Cor do título da seção */
}

.card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
}

.card {
    background-color: var(--light-gray); /* Cor de fundo dos cards */
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Largura máxima do card */
    height: 500px; /* Altura do card */
    text-align: left;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    color: var(--text-color); /* Cor do título do card */
    font-size: var(--fs-lg);
    margin-bottom: 1rem;
}

.card p {
    color: var(--second-text-color); /* Cor do texto do card */
    font-size: var(--fs-sm);
    height: 100%;
    overflow-y: auto; /* Permite rolagem no texto */
    max-height: 300px; /* Define o limite de altura para o texto */
}

.card-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--primary-color); /* Cor do ícone do card */
}

@media (min-width: 768px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        max-width: 300px; /* Largura máxima do card em telas médias */
        height: 400px; /* Altura do card em telas médias */
    }
}

@media (min-width: 1280px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        max-width: 600px; /* Largura máxima do card em telas grandes */
        height: 600px; /* Altura do card em telas grandes */
    }
}
